/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/

.navbar .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  z-index: 4;
}

.header.active {
  background-color: var(--bg-white);
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  font-size: 3.5rem;
}

.navbar {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  background-color: var(--bg-white);
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: var(--transition-2);
}

.navbar.active {
  max-height: 310px;
  visibility: visible;
}

.navbar-list {
  padding-block-start: 15px;
}

.navbar-link,
.cart-btn .span {
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
}
.navbar-link {
  padding: 10px 20px;
}

.navbar-link1 {
  font-size: 50px;
  text-align: left;
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  margin-left: 120px;
  padding-left: 10px;
  margin-bottom: 0;
  display: flex;
  transform: translateY(20px);
}

.navbar-link1 {
  padding: 10px 20px;
}

.navbar-link1 h1,
.navbar-link1 span,
.navbar-link1 a {
  margin-top: 0;
}

.cart-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 25px 20px;
}
